@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游明朝" , "ヒラギノ明朝 ProN W3", 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

.section-title {
  font-family: "Hiragino Mincho Pro W6";
  font-size: 40px;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 80px;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}

header {
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header-logo {
  width: 120px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav li:nth-child(n+2) {
  margin-left: 48px;
}

.header-nav a {
  font-weight: 700;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-nav a:hover {
  opacity: 0.8;
  color: #3EA1D1;
}

.drawer-icon {
  position: fixed;
  top: 22px;
  right: 15px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 30px;
  height: 18px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #3EA1D1;
  top: 0;
  left: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item a {
  display: block;
  color: #3EA1D1;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px dotted #3EA1D1;
  position: relative;
}

.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.main-visual {
  height: 660px;
  padding: 0 24px;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  .main-visual {
    height: 590px;
    margin-top: 60px;
  }
}

.main-visual__inner {
  height: 660px;
  position: relative;
  margin-bottom: 160px;
  background: url(../img/top.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .main-visual__inner {
    background: url(../img/sp/top.png) no-repeat center center/cover;
    height: 420px;
  }
}

.main-visual__message {
  width: 330px;
  height: 330px;
  background: #fff;
  padding: 92px 40px 92px 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .main-visual__message {
    height: auto;
    padding: 40px 0 0 0;
    top: 100%;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
}

.main-visual-title {
  font-size: 26px;
  line-height: calc(44/26);
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .main-visual-title br {
    display: none;
  }
}

.main-visual-subtitle {
  margin-top: 28px;
  font-weight: 700;
}

.main-visual__bg {
  width: 990px;
  height: inherit;
  display: block;
  margin-left: auto;
}

.concept {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .concept {
    margin-top: 96px;
  }
}

.concept-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .concept-contents {
    display: block;
  }
}

.concept-pic {
  width: 50%;
  margin-right: 80px;
}

@media screen and (max-width: 767px) {
  .concept-pic {
    width: 100%;
    margin-right: 0;
  }
}

.concept-pic img {
  display: block;
}

.concept-message {
  width: calc(50% - 80px);
  vertical-align: middle;
  position: relative;
}

@media screen and (max-width: 767px) {
  .concept-message {
    width: 100%;
    display: block;
  }
}

.message-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .message-content {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-top: 40px;
  }
}

.concept-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(34/20);
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .concept-heading {
    margin-bottom: 32px;
  }
}

.concept-content {
  line-height: calc(27/16);
}

.feature {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .feature {
    margin-top: 96px;
  }
}

.feature-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .feature-items {
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media screen and (max-width: 767px) {
  .feature-items {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature-item {
  display: block;
  width: calc(33% - 90px * 2 / 3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.feature-item:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (min-width: 1200px) {
  .feature-item:not(:nth-child(4n+1)) {
    margin-left: 90px;
  }
  .feature-item:nth-child(n+4) {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .feature-item {
    width: calc(50% - 60px / 2);
    max-width: 340px;
  }
  .feature-item:not(:nth-child(2n+1)) {
    margin-left: 60px;
  }
  .feature-item:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .feature-item {
    width: 100%;
  }
  .feature-item:nth-child(n+2) {
    margin-top: 48px;
  }
}

.feature-img {
  display: block;
}

.feature-img img {
  width: 100%;
}

.feature-explanation {
  line-height: calc(27/16);
  font-weight: 700;
  text-align: center;
  padding: 32px 0;
}

.feature-contents {
  margin-top: 160px;
  background: url(../img/bg.png) no-repeat center center/cover;
  height: 478px;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .feature-contents {
    background: url(../img/sp/bg.png) no-repeat center center/cover;
  }
}

.feature-message {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .feature-message {
    padding: 15px;
    left: 0;
    top: 182px;
    -webkit-transform: none;
            transform: none;
  }
}

.feature-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: calc(37/22);
}

@media screen and (max-width: 767px) {
  .feature-heading {
    font-size: 20px;
  }
}

.feature-content {
  width: 590px;
  color: #fff;
  line-height: calc(27/16);
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .feature-content {
    width: 100%;
    font-size: 14px;
  }
}

.product {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .product {
    margin-top: 96px;
  }
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 170px;
  padding-right: 170px;
}

@media screen and (max-width: 767px) {
  .product-items {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.product-item {
  display: block;
  width: calc(33% - 80px * 2 / 3);
  max-width: 340px;
}

@media (min-width: 1200px) {
  .product-item:not(:nth-child(4n+1)) {
    margin-left: 80px;
  }
  .product-item:nth-child(n+4) {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .product-item {
    width: calc(50% - 60px / 2);
  }
  .product-item:not(:nth-child(2n+1)) {
    margin-left: 60px;
  }
  .product-item:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    width: 100%;
  }
  .product-item:nth-child(n+2) {
    margin-top: 48px;
  }
}

.product-item-img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.product-item-img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.product-item-img img {
  width: 100%;
}

.product-item-name {
  margin-top: 24px;
  font-size: 14px;
  line-height: calc(24/16);
}

.product-item-price {
  margin-top: 16px;
  font-size: 14px;
  color: #989898;
}

.product-more-btn {
  width: 157px;
  height: 46px;
  margin: 0 auto;
  margin-top: 48px;
}

.product-more-btn a {
  display: block;
  padding: 16px 54px;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  font-size: 14px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.product-more-btn a:hover {
  color: #fff;
  background: #3EA1D1;
}

.news {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .news {
    margin-top: 96px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.news-items {
  width: 1040px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .news-items {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .news-items {
    width: 100%;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 184px;
  border-bottom: 1px solid #888888;
  -o-transition-duration: 0.5s;
}

.news-item:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.news-item:not(:first-child) {
  margin-top: 22px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .news-item {
    height: auto;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .news-item {
    display: block;
    height: auto;
    padding-bottom: 24px;
  }
}

.news-item-img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.news-item-img img {
  width: 260px;
}

@media screen and (max-width: 767px) {
  .news-item-img img {
    width: 100%;
  }
}

.news-item-contents {
  width: calc(100% - 300px);
  margin-left: 40px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .news-item-contents {
    width: calc(100% - 280px);
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-contents {
    width: 100%;
    margin-left: 0;
  }
}

.news-item-date {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .news-item-date {
    margin-top: 24px;
  }
}

.news-item-title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
}

.news-item-content {
  margin-top: 24px;
  font-size: 14px;
  color: #888888;
}

.news-more-btn {
  width: 157px;
  height: 46px;
  margin: 0 auto;
  margin-top: 48px;
}

.news-more-btn a {
  display: block;
  padding: 16px 54px;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  font-size: 14px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.news-more-btn a:hover {
  color: #fff;
  background: #3EA1D1;
}

.concept2 {
  margin-top: 160px;
  margin-bottom: 225px;
}

@media screen and (max-width: 767px) {
  .concept2 {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.concept2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .concept2__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.concept2-left {
  width: 520px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2-left {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 767px) {
  .concept2-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

.concept2-contents {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .concept2-contents {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-top: 40px;
  }
}

.concept2-heading {
  font-size: 28px;
  line-height: calc(48/28);
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .concept2-heading {
    font-size: 20px;
  }
}

.concept2-content {
  line-height: calc(27/16);
  margin-top: 48px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .concept2-content {
    font-size: 14px;
    margin-top: 32px;
  }
}

.concept2-right {
  width: 50%;
  margin-left: 80px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .concept2-right {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .concept2-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-left: 0;
  }
}

.concept2-img {
  width: 100%;
}

footer {
  height: 220px;
  background: #F7F7F7;
  padding-top: 48px;
  padding-bottom: 17px;
}

.footer-logo {
  display: block;
  width: 120px;
  margin: 0 auto;
}

.footer-kiyaku {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.privacy-policy {
  font-size: 12px;
}

.kiyaku {
  margin-left: 32px;
  font-size: 12px;
}

.sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
}

.twitter-icon:hover, .instagram-icon:hover, .line-icon:hover {
  opacity: 0.8;
}

.twitter-icon {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #3EA1D1;
}

.instagram-icon {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #3EA1D1;
  margin-left: 40px;
}

.line-icon {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: #3EA1D1;
  margin-left: 40px;
}

.copyright {
  margin-top: 24px;
  font-size: 12px;
  color: #888888;
  text-align: center;
}

.contact {
  background: url(../img/contact.png) no-repeat center center/cover;
  margin-top: 225px;
  padding-top: 72px;
  padding-bottom: 84px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding-top: 57px;
    padding-bottom: 57px;
  }
}

.contact-title {
  color: #3EA1D1;
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .contact-title {
    margin-bottom: 33px;
  }
}

.contact-message {
  text-align: center;
  font-size: 14px;
  letter-spacing: .1rem;
  font-weight: 700;
}

.contact-message span {
  color: #E7728E;
}

.contact__form {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 24px;
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__row:nth-child(n+2) {
  margin-top: 32px;
}

.contact-form__row [type="text"],
.contact-form__row [type="email"],
.contact-form__row textarea {
  width: 100%;
  min-width: 320px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
  padding: .2em .5em;
}

.contact-form__row [type="text"],
.contact-form__row [type="email"] {
  height: 40px;
}

.contact-form__row textarea {
  min-height: 122px;
  resize: vertical;
}

@media screen and (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__label {
  margin-right: 18px;
  display: inline-block;
  width: 172px;
  background: #3EA1D1;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-form__label {
    margin-bottom: 3px;
    width: auto;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 26px;
  }
}

.contact-form__label::after {
  content: "";
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent #3EA1D1;
  position: absolute;
  top: 0;
  right: -8px;
}

@media screen and (max-width: 767px) {
  .contact-form__label::after {
    display: none;
  }
}

.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form__label label.is-required::after {
  content: "*";
  width: 12px;
  height: 12px;
  color: #E7728E;
  position: absolute;
  top: 8px;
  right: -12px;
  line-height: 1;
}

.contact-form-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
}

.contact-form-radio {
  position: relative;
}

.contact-form-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-form-radio-input:checked + .contact-form-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-form-radio-input:focus + .contact-form-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-form-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}

.contact-form__check {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-form__check {
    margin-top: 24px;
  }
}

.contact-privacy {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-part {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #3EA1D1;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-form__button {
  margin-top: 50px;
  text-align: center;
}

.contact-form__button [type="submit"] {
  width: 137px;
  height: 46px;
  background: #fff;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  letter-spacing: .1rem;
}

@media screen and (max-width: 767px) {
  .contact-form__button {
    margin-top: 26px;
  }
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}
/*# sourceMappingURL=style.css.map */