.main-visual{
    height: 660px;
    padding: 0 24px;
    margin-top: 100px;

    @include mq('sp'){
        height: 590px;
        margin-top: 60px;
    }
}

.main-visual__inner{
    height: 660px;
    position: relative;
    margin-bottom: 160px;
    background: url(../img/top.png) no-repeat center center / cover;

    @include mq('sp'){
        background: url(../img/sp/top.png) no-repeat center center / cover;
        height: 420px;
    }
}


.main-visual__message{
    width: 330px;
    height: 330px;
    background: #fff;
    padding: 92px 40px 92px 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @include mq('sp'){
        height: auto;
        padding: 40px 0 0 0;
        top: 100%;
        transform: none;
        width: 100%;
    }

}

.main-visual-title{
    font-size: 26px;
    line-height: calc(44/26);
    font-weight: 700;

    @include mq('sp'){
        br{
            display: none;
        }
    }
}

.main-visual-subtitle{
    margin-top: 28px;
    font-weight: 700;
}

.main-visual__bg{
    width: 990px;
    height: inherit;
    display: block;
    margin-left: auto;
}
