.product{
    margin-top: 160px;

    @include mq('sp'){
        margin-top: 96px;
    }

}

.product-inner{}

.product-items{
    display: flex;
    flex-wrap: wrap;
    padding-left: 170px;
    padding-right: 170px;

    @include mq('sp'){
        padding-left: 50px;
        padding-right: 50px;
    }
}

.product-item{
    display: block;
    width: calc(33% - 80px * 2 / 3);
    max-width: 340px;
    margin: 0 auto;

    @include mq('pc'){
        &:not(:nth-child(4n+1)){
            margin-left: 80px;
        }

        &:nth-child(n+4){
            margin-top: 40px;
        }
    }

    @include mq('tab'){
        width: calc(50% - 60px / 2);
        
        &:not(:nth-child(2n+1)){
            margin-left: 60px;
        }

        &:nth-child(n+3){
            margin-top: 40px;
        }
    }

    @include mq('sp'){
        width: 100%;
        
        &:nth-child(n+2){
            margin-top: 48px;
        }
    }

}

.product-item-img{
    transition: all 0.5s ease 0s;

    &:hover{
        transform: scale(1.1 , 1.1);
    }

    img{
        width: 100%;
    }
}

.product-item-name{
    margin-top: 24px;
    font-size: 14px;
    line-height: calc(24/16);
}

.product-item-price{
    margin-top: 16px;
    font-size: 14px;
    color: #989898;
}

.product-more-btn{
    width: 157px;
    height: 46px;
    margin: 0 auto;
    margin-top: 48px;

    a{
        display: block;
        padding: 16px 54px;
        color: #3EA1D1;
        border: 1px solid #3EA1D1;
        font-size: 14px;
        transition: all 0.5s ease 0s;

        &:hover{
            color: #fff;
            background: #3EA1D1;
        }
    }
}